.hero {
    min-height: 99vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.02)), url("../assets/superheroes.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.down-box {
    color: aliceblue;
    border: green solid;
    
}