.hero {
  min-height: 110vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.02)), url("../assets/superheroes.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@media screen and (max-width: 768px) {
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-position: -23vw 9vh;
    background-size: 153vw 41vh;
  }
  
}