.navbar-open {
    opacity: 1;
    position: fixed;
    /* border: solid red; */
    height: 99vh;
    width: 15%;
    background-color: rgb(62, 62, 62);
    transition: all 1s;
}

.navbar-close {
    opacity: 0;
    position: fixed;
    transform: translateX(-191px);
    /* border: solid red; */
    height: 99vh;
    width: 15%;
    background-color: rgb(62, 62, 62);
    transition: all 1s;
}

