.nav-wrapper {
  display: grid;
  grid-template-rows: 1fr 5fr;
  height: 100vh;
}

.menu-item {
  color: white;
  margin: 9% 5% 0% 0%;
  font-size: 1.01rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5vh;
  background-color: rgb(95, 0, 0);
  transition: all 0.5s;
}

.menu-item:hover {
  background-color: white;
  color: rgb(95, 0, 0);
}

.menu-icons {
  font-size: 4vh;
}

.top-top {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: rgb(248, 87, 87) solid;
  border-radius: 50%;
  height: 5vh;
  width: 5vh;
}

.user-image {
  font-size: 5vh;
}

.mid {
  color: white;
}

.push-up {
  margin-top: 8vh;
}

.coming-soon {
  color: gray;
}

.soon {
  color: gray;
}

.soon:hover {
  color: gray;
  background-color: rgb(95, 0, 0);
  cursor: pointer;
}
