.ranks-wrapper {
  top: 1vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-nav {
  display: flex;
  justify-content: center;
  background-color: rgb(139, 0, 0, 0.5);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99;
}

.rank-by {
  position: fixed;
  top: -1vh;
  right: 2vh;
  display: flex;
  justify-content: space-between;
  gap: 1vh;
  border: solid 1px rgb(59, 59, 59);
  background-color: rgb(104, 0, 0);
  border-radius: 8px;
  margin-top: 5vh;
  padding: 0 0 0 1vh;
}

.term-selector {
  background-color: rgb(58, 2, 2);
  color: white;
}

.rank-txt {
  font-size: 1.2vh;
  margin-right: 0.5vh;
}

@media screen and (max-width: 768px) {
    .rank-by {
        top: 5vh;
        right: 0vh;
        font-size: 3vw;    
    }
    
    .term-selector {
        font-size: 3vw;    
    }
}