.main {
  min-height: 10vh;
  color: white;
  border: white solid;
  transition: all 0.3s ease-in-out;
}

.search-box {
  /* border: red solid; */
  margin-top: 2%;

  /* margin: auto; */
  display: flex;
  justify-content: center;
}

.input {
  padding: 0.5%;
  border-radius: 10px;
  text-align: center;
}
