.modal-overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 99vh;
  background-color: rgb(67, 67, 67, 0.5);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sea {
  border: rgb(120, 120, 120, 0.3) solid 5px;
  display: flex;
  color: white;
  max-height: 40vh;
  max-width: 80%;
  overflow-x: scroll;
  margin-bottom: 3vh;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(120, 120, 120, 0.5);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.results {
  width: 100%;
  display: flex;
  gap: 1vh;
}

.hero-box {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 1%;
  transition: all 0.5s cubic-bezier(0.58, 1.37, 1, 0.99);
}

.hero-box:hover {
  transform: scale(1.5);
  z-index: 99;
}


.hero-desc p {
  margin: 0%;
  background-color: rgb(11, 11, 11, 0.5);
}

.hero-desc {
  width: 10vw;
  height: 15vw;
  text-shadow: 2px 2px 0 rgba(0, 0, 0);
}

.close-search {
  font-size: 4vh;
  color: rgb(181, 0, 0, 0.5);
  transition: all 0.4s;
}

.close-search:hover {
  transform: scale(1.5);
  color: rgb(181, 0, 0);
  z-index: 99;

}